body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 700px;
    border: solid gray;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    width: 80px;
    height: 30px;
    margin-top: 50px;
    cursor: pointer;
    padding: 5px;
    background-color: darkgreen;
    border-radius: 5px;

}

.btn:hover {
    background-color: rgb(83, 116, 83);
    text-transform: uppercase;
}

#score {
    text-transform: uppercase;

}

.answer {
    font-size: 40px;
    color: rgb(5, 5, 45);
    padding: 10px;
    text-align: center;


}